<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1976d2;">
  <div class="container-fluid">
    <a class="navbar-brand">Easy Manager</a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [collapse]="!isCollapsed" [isAnimated]="true">
      <ul class="navbar-nav me-auto my-2 my-lg-0 " style="height: auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/" (click)="isCollapsed = false">Inicio</a>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Venta
          </a>
          <ul class="dropdown-menu" *dropdownMenu aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" routerLink="/sales/new" style="cursor: pointer;" (click)="isCollapsed = false">Nueva venta</a></li>
            <li><a class="dropdown-item" routerLink="/sales/salesConsult" style="cursor: pointer;" (click)="isCollapsed = false">Consultar ventas</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Productos
          </a>
          <ul class="dropdown-menu" *dropdownMenu aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" style="cursor: pointer;" (click)="isCollapsed = false" routerLink="/products/add-product">Añadir nuevo</a></li>
            <li><a class="dropdown-item" style="cursor: pointer;" (click)="isCollapsed = false" routerLink="/products/list-products">Ver todos</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Clientes
          </a>
          <ul class="dropdown-menu" *dropdownMenu aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" style="cursor: pointer;" (click)="isCollapsed = false" routerLink="/clients/add-client">Añadir nuevo</a></li>
            <li><a class="dropdown-item" style="cursor: pointer;" (click)="isCollapsed = false" routerLink="/clients/list-clients">Ver todos</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle disabled" dropdownToggle id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Pedidos
          </a>
          <ul class="dropdown-menu" *dropdownMenu aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" style="cursor: pointer;" (click)="isCollapsed = false">Crear pedido</a></li>
            <li><a class="dropdown-item" style="cursor: pointer;" (click)="isCollapsed = false">Ver estado de pedido</a></li>
            <li><a class="dropdown-item" style="cursor: pointer;" (click)="isCollapsed = false">Consultar pedidos</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Distribudores
          </a>
          <ul class="dropdown-menu" *dropdownMenu aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" style="cursor: pointer;" (click)="isCollapsed = false" routerLink="distributors/add">Añadir nuevo</a></li>
            <li><a class="dropdown-item" style="cursor: pointer;" (click)="isCollapsed = false">Ver todos</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle disabled" dropdownToggle id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Gestion
          </a>
          <ul class="dropdown-menu" *dropdownMenu aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" style="cursor: pointer;" (click)="isCollapsed = false">Usuarios</a></li>
            <li><a class="dropdown-item" style="cursor: pointer;" (click)="isCollapsed = false">Roles de Usuarios</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Link</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
