.form-row {
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  .form-row {
    flex-direction: row;
  }
}

.form-field {
  flex: 1;
  margin: 10px;
  width: 100%;
}

mat-form-field{
  width: 100%;
}

::ng-deep .mat-form-field-wrapper,
::ng-deep .mat-form-field-flex,
::ng-deep .mat-form-field-infix {
  height: 100%;
}

