<div class="container mt-5 mb-5">
  <h1 class="text text-center mb-4">Agregar un nuevo producto</h1>

  <form [formGroup]="formProduct" action="">
    <div class="row mt-4 mb-2">
      <h3 class="text text-left">Características generales</h3>
      <div class="col-md-5">
        <mat-form-field class="myField" appearance="fill">
          <mat-label class="required"> Nombre </mat-label>
          <input
            matInput
            placeholder="Ej: Marcador"
            formControlName="name"
            required
            maxlength="100"
          />
          <mat-error>Este campo es obligatorio</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-2">
        <mat-form-field class="myField" appearance="fill">
          <mat-label class="required"> Código </mat-label>
          <input
            matInput
            placeholder="Ej: ABC123"
            formControlName="code"
            required
            maxlength="50"
          />
          <mat-error>Este campo es obligatorio</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-2">
        <mat-form-field class="myField" appearance="fill">
          <mat-label class="required"> Marca </mat-label>
          <input
            matInput
            placeholder="Ej: Sharpie"
            formControlName="brand"
            maxlength="50"
          />
          <mat-error>Este campo es obligatorio</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-3">
        <mat-form-field class="myField" appearance="fill">
          <mat-label class="required">Categoría</mat-label>
          <mat-select formControlName="category">
            <mat-option
              *ngFor="let category of categories"
              [value]="category.id"
            >
              {{ category.name }}
            </mat-option>
          </mat-select>
          <mat-error>Este campo es obligatorio</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-9">
        <mat-form-field appearance="fill" style="width: 100%; height: 100%;">
          <mat-label>Descripción</mat-label>
          <textarea
            style="width: 100%; height: 100%;"
            matInput
            placeholder="Ej: Marcador de punta fina..."
            formControlName="description"
            maxlength="1250"
          ></textarea>
        </mat-form-field>
      </div>

      <div class="col-md-3">
        <div class="row">
          <mat-form-field class="myField" appearance="fill">
            <mat-label>Modelo</mat-label>
            <input
              matInput
              placeholder="Ej: M1234"
              formControlName="model"
              maxlength="50"
            />
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="myField" appearance="fill">
            <mat-label>Voltage</mat-label>
            <mat-select formControlName="voltage">
              <mat-option value="110">110</mat-option>
              <mat-option value="220">220</mat-option>
              <mat-option value="110/220">110/220</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <h3 class="text text-left">Peso y dimensiones</h3>
      <div class="col-sm-3">
        <mat-form-field class="myField" appearance="fill">
          <mat-label>Peso</mat-label>
          <input
            matInput
            type="number"
            placeholder="kg"
            min="0"
            formControlName="weight"
          />
          <mat-error *ngIf="formProduct.get('weight').hasError('min')">
            El peso debe ser mayor a 0.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-3">
        <mat-form-field class="myField" appearance="fill">
          <mat-label>Alto</mat-label>
          <input
            matInput
            type="number"
            placeholder="cm"
            min="0"
            formControlName="heigh"
          />
          <mat-error *ngIf="formProduct.get('heigh').hasError('min')">
            La altura debe ser mayor a 0.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field class="myField" appearance="fill">
          <mat-label>Ancho</mat-label>
          <input
            matInput
            type="number"
            placeholder="cm"
            min="0"
            formControlName="width"
          />
          <mat-error *ngIf="formProduct.get('width').hasError('min')">
            El ancho debe ser mayor a 0.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field class="myField" appearance="fill">
          <mat-label>Profundidad</mat-label>
          <input
            matInput
            type="number"
            placeholder="cm"
            min="0"
            formControlName="depth"
          />
          <mat-error *ngIf="formProduct.get('depth').hasError('min')">
            La profundidad debe ser mayor a 0.
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row mb-2">
      <h3>Otras características</h3>
      <div class="col-sm-3">
        <mat-form-field class="myField" appearance="fill">
          <mat-label>Color</mat-label>
          <input
            matInput
            placeholder="Ej: Azul"
            formControlName="color"
            maxlength="20"
          />
        </mat-form-field>
      </div>
    </div>
  </form>

  <div class="mt-4" style="display: flex; justify-content: center">
    <button
      class="btn btn-success"
      style="margin-right: 4px"
      [disabled]="formProduct.invalid"
      (click)="addProduct()"
    >
      Agregar nuevo producto
    </button>
    <button
      class="btn btn-primary"
      style="margin-left: 4px"
      routerLink="/products/list-products"
    >
      Volver a la lista de productos
    </button>
  </div>
</div>
