.text-pagination{
  height: 50px;
  background-color: transparent;
  border-radius: 5px;
  margin-bottom: 15px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.card{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 100%;
  transition: height .5s;
}

.card:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 102%;
}