.text-pagination{
  height: 50px;
  background-color: transparent;
  border-radius: 5px;
  margin-bottom: 15px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.card{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 100%;
}