<div class="container" style="margin-top: 40px;">
  <h1 class="text">Lista de todos los productos</h1>
  <div class="row mt-3" style="display: flex; justify-content: center;">

    <div class="col-md-3 mt-2 mb-4" *ngFor='let product of products'>
      <div class="card" style="width: auto; cursor: pointer;" routerLink="/products/product-detail/{{product.id}}">
        <img
        src="../../../assets/product-icon.jpg"
        class="card-img-top"
        alt="..." >
        <div class="card-body">
          <h5 class="card-title text">{{product.name}}</h5>
          <h6 class="subtitle">Código: {{product.code}}</h6>
          <p class="card-text">Descripción: {{product.description}}</p>
          <h6 class="card-text">Marca: {{product.brand}}</h6>
          <h6>Cantidad disponible: {{product.stock}} und.</h6>
        </div>
        <div class="card-footer">
          <h5 class="text">Precio: {{product.publicPrice | currency: '$'}}</h5>
        </div>
      </div>
    </div>

    <div class="text-pagination text-center">
      <div>
        <button class="btn btn-outline-primary rounded-pill" (click)="forward()" *ngIf="!isLast">
          <i class='bx bx-chevron-down-circle bx-burst' ></i>
          <span style="margin: 10px;">Ver más</span>
          <i class='bx bx-chevron-down-circle bx-burst' ></i>
        </button>
      </div>
    </div>

  </div>
</div>
