<div class="container mt-4 mb-4">
  <div class="container mt-4 mb-4">
    <h2 class="text text-center">Detalles de venta con id: {{saleRequest.id}}</h2>
  </div>
  <div class="mt-4 container">
    <h4 class="text">Datos de cliente</h4>
    <div class="row">
      <div class="col-md-4">
        <h5 class="mt-3 ntex">Cliente: <span class="text">{{saleRequest.client.name}} {{saleRequest.client.lastName}}</span></h5>
        <h5 class="mt-3 ntex">Documento: <span class="text">{{saleRequest.client.document}}</span> </h5>
      </div>
      <div class="col-md-6">
        <h5 class="mt-3 ntex">Teléfono: <span class="text">{{saleRequest.client.numberPhone}}</span> </h5>
        <h5 class="mt-3 ntex">Dirección: <span class="text">{{saleRequest.client.address}}</span> </h5>
      </div>
    </div>
  </div>
  <div class="container">
    <hr class="solid" />
  </div>
  <div class="container mb-2">
    <h4 class="text">Datos de compra</h4>
    <div class="row">
      <div class="col-md-6">
        <h5 class="mt-3 ntex">Fecha de compra: <span class="text">{{saleDate | date:'medium'}}</span> </h5>
        <h5 class="mt-3 ntex">Cantidad de productos comprados: <span class="text">{{amountProductsSale}} unidades.</span> </h5>
      </div>
      <div class="col-md-6" style="text-align: right;">
        <h5 class="mt-3 ntex">Empleado: <span class="text">{{saleRequest.user.name}}</span> </h5>
        <h5 class="mt-3 ntex">Documento: <span class="text">{{saleRequest.user.document}}</span> </h5>
      </div>
    </div>
  </div>
  
  <h4 class="text text-center">Lista de productos</h4>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <td>Código</td>
          <td>Nombre</td>
          <td>Cantidad</td>
          <td>Precio unitario</td>
          <td>Precio total</td>
        </tr>
      </thead>
      <tbody *ngFor="let productDetail of saleRequest.productsDetail; index as i">
        <tr>
          <th>{{i+1}}</th>
          <td>{{productDetail.codeProduct}}</td>
          <td>{{productDetail.nameProduct}}</td>
          <td>{{productDetail.amount}}</td>
          <td>{{productDetail.publicPriceProduct | currency:'$'}}</td>
          <th>{{productDetail.totalSale | currency:'$'}}</th>
        </tr>
      </tbody>
      <tfoot>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th><h5 class="text">Total:</h5></th>
        <th><h5 class="text">{{totalPriceSale | currency:'$'}}</h5></th>
      </tfoot>
    </table>
  </div>
  <div style="display: flex; justify-content: center;">
    <button class="btn btn-primary" routerLink="/sales/salesConsult">Volver a consulta de ventas</button>
  </div>
</div>
