<div class="container mt-4 mb-4">
  <div>
    <h5 class="text" style="text-align: right">
      Fecha: {{ currentDate | date: "mediumDate" }}
    </h5>
  </div>

  <div>
    <h1 class="text text-center">Nueva venta</h1>
    <div class="row mt-2 mb-1">
      <h2 class="text">Datos de Cliente</h2>
      <form [formGroup]="formGroupClient">
        <div class="col-md-4">
          <mat-form-field class="myField" appearance="fill">
            <mat-label>Cliente</mat-label>
            <input
              matInput
              #inputFindByClient
              placeholder="Buscar..."
              formControlName="document"
              [matAutocomplete]="autoCompleteClient"
              (keypress)="onChangeSearchClient($event)"
            >
            <mat-autocomplete #autoCompleteClient="matAutocomplete" [displayWith]="showClient">
              <mat-option *ngFor="let client of clientsByCoincidence" [value]="client" (click)="loadClient(client)">
                {{client.name}} {{client.lastName}} - {{client.numDocument}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </form>
    </div>
    <div class="row mt-2 mb-2">
      <div class="col-md-5">
        <mat-form-field class="myField" appearance="outline">
          <mat-label class="text">Nombre:</mat-label>
          <input
            matInput
            readonly
            type="email"
            value="{{ clientRequest.name }} {{ clientRequest.lastName }}"
          />
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="myField" appearance="outline">
          <mat-label class="text">Dirección:</mat-label>
          <input
            matInput
            readonly
            type="email"
            value="{{ clientRequest.email }}"
          />
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="myField" appearance="outline">
          <mat-label class="text">Teléfono:</mat-label>
          <input
            matInput
            type="phone"
            readonly
            value="{{ clientRequest.numPhone }}"
          />
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="row mt-2 mb-2">
    <hr class="solid" />
  </div>

  <div class="row mt-2 mb-2">
    <h2 class="text">Producto</h2>
    <div class="col-md-3">
      <form [formGroup]="formGroupProduct">
        <mat-form-field class="myField" appearance="fill">
          <mat-label>Código de producto:</mat-label>
          <input
            matInput
            #inputFindByCode
            placeholder="ingrese el código del producto..."
            formControlName="code"
            (keydown.enter)="loadProduct()"
          />
        </mat-form-field>
      </form>
    </div>

    <div class="col-md-6 ng-autocomplete">
      <form [formGroup]="formGroupProduct">
        <mat-form-field class="myField" appearance="fill">
          <mat-label>Buscar por nombre del producto:</mat-label>
          <input
            matInput
            placeholder="Ingrese el nombre del producto..."
            formControlName="name"
            [matAutocomplete]="autoComplete"
            (keypress)="onChangeSearch($event)"
          >

          <mat-autocomplete #autoComplete="matAutocomplete" [displayWith]="showProduct">
            <mat-option *ngFor="let product of productsByName" [value]="product" (click)="loadProduct(product.code)">
              {{product.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>

  </div>


  <div class="row mt-2 mb 2">
    <div class="col-sm-5">
      <mat-form-field class="myField" appearance="outline">
        <mat-label class="text">Nombre del producto:</mat-label>
        <input
          matInput
          type="text"
          value="{{ productRequest.name }}"
          readonly
        />
      </mat-form-field>
    </div>
    <div class="col-sm-2">
      <mat-form-field class="myField" appearance="outline">
        <mat-label class="text">Stock:</mat-label>
        <input
          matInput
          type="number"
          value="{{ productRequest.stock }}"
          readonly
        />
      </mat-form-field>
    </div>
    <div class="col-sm-2">
      <mat-form-field class="myField" appearance="outline">
        <mat-label class="text">Precio:</mat-label>
        <input
          matInput
          value="{{ productRequest.publicPrice | currency: '$'}}"
          readonly
        />
      </mat-form-field>
    </div>
    <div class="mt-1 mb-1">
      <button
        class="btn btn-outline-primary"
        (click)="loadProduct()"
        [disabled]="formGroupProduct.invalid"
      >
        Buscar
      </button>
    </div>
  </div>

  <div class="row mt-2 mb-2">
    <hr class="solid" />
  </div>

  <h2>Datos de venta</h2>

  <form [formGroup]="formGroupSale">
    <div class="row mt-2 mb-2">
        <div class="col-sm-1">
          <section class="example-section">
            <mat-checkbox formControlName="isCredit" (click)="updateTotal()">Es crédito</mat-checkbox>
          </section>
        </div>
        <div class="col-md-3" *ngIf="formGroupSale.get('isCredit').value">
          <mat-form-field class="myField" appearance="fill">
            <mat-label>Cantidad de pagos</mat-label>
            <mat-select formControlName="paymentAmount">
              <mat-option
                *ngFor="let term of creditTerms"
                [value]="term.value"
                (click)="updateTotal()"
              >
                {{ term.key }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="myField" appearance="fill">
            <mat-label>Método pago</mat-label>
            <mat-select formControlName="paymentMethod">
              <mat-option
                *ngFor="let paymentMethod of paymentMethods"
                [value]="paymentMethod.id"
              >
                {{ paymentMethod.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
    </div>
  </form>

  <div class="table-responsive">
    <h4 class="text text-center">Detalles de compra</h4>
    <table class="table table-hover">
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>Código</th>
          <th>Nombre</th>
          <th>Cantidad</th>
          <th>Precio unitario</th>
          <th>Precio total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let productInTable of productsInTable; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ productInTable.code }}</td>
          <td>{{ productInTable.name }}</td>
          <td>
            <input
              style="max-width: 150px"
              type="number"
              class="form-control"
              [value]="productInTable.amount"
              [(ngModel)]="productInTable.amount"
              (input)="updateTotalPriceProduct(i)"
              min="1"
            />
          </td>
          <td>{{ productInTable.unitPrice | currency: "$" }}</td>
          <td>{{ productInTable.totalPrice | currency: "$" }}</td>
          <td style="padding: 4px 0">
            <button
              class="btn btn-outline-danger"
              style="padding-top: 4px; padding-bottom: 4px"
              (click)="deleteProductInTable(productInTable.code)"
            >
              <i class="bx bxs-trash" size="lg"></i>
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <h3 class="text result" style="text-align: right;">Subtotal:</h3>
            <h3 class="text result" *ngIf="formGroupSale.get('isCredit').value" style="text-align: right;">Intereses:</h3>
            <h2 class="text result" style="text-align: right;">Total:</h2>
            <h2 class="text result" *ngIf="formGroupSale.get('isCredit').value"style="text-align: right;">Primer pago:</h2>
          </td>
          <td>
            <h3 class="text result">{{ subTotal | currency: "$" }}</h3>
            <h3 class="text result" *ngIf="formGroupSale.get('isCredit').value">{{ interest | currency: "$" }}</h3>
            <h2 class="text result">{{ totalSalePrice | currency: "$" }}</h2>
            <h2 class="text result" *ngIf="formGroupSale.get('isCredit').value">{{ firstPayValue | currency: "$" }}</h2>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="mt-3 mb-3" style="display: flex; justify-content: center">
    <button
      [disabled]="!isActiveBtnShopping"
      (click)="playShopping()"
      class="btn main-color mb-4"
    >
      Realizar venta
    </button>
  </div>
</div>
