<div class="container mt-2 mb-2">
  <div class="container">
    <h5 class="text" style="text-align: right">
      Fecha: {{ currentDate | date: "mediumDate" }}
    </h5>
  </div>

  <div>
    <h1 class="text text-center">Nueva venta</h1>
    <div class="container row">
      <h5 class="text">Datos de Cliente</h5>
      <div class="col-md-4">
        <form action="" [formGroup]="formGroupClient">
          <label class="text" for="">Documento:</label>
          <input
            type="text"
            class="form-control"
            placeholder="Ingresa el número de documento..."
            formControlName="document"
            (keyup.enter)="loadClient()"
          />
        </form>
      </div>
      <div class="mt-1 mb-1">
        <button
          class="btn btn-outline-primary"
          (click)="loadClient()"
          [disabled]="formGroupClient.invalid"
        >
          Buscar
        </button>
      </div>
    </div>
    <div class="row container mt-2">
      <div class="col-md-5">
        <label class="text" for="">Nombre:</label>
        <input
          type="text"
          disabled="true"
          class="form-control"
          value="{{ clientRequest.name }} {{ clientRequest.lastName }}"
        />
      </div>
      <div class="col-md-4">
        <label class="text" for="">Dirección:</label>
        <input
          class="form-control"
          disabled="true"
          type="email"
          value="{{ clientRequest.email }}"
        />
      </div>
      <div class="col-md-3">
        <label class="text" for="">Teléfono:</label>
        <input
          type="phone"
          disabled="true"
          class="form-control"
          value="{{ clientRequest.numPhone }}"
        />
      </div>
    </div>
  </div>

  <div class="container">
    <hr class="solid" />
  </div>

  <div class="container row">
    <h5 class="text">Producto</h5>
    <div class="col-md-3">
      <form [formGroup]="formGroupProduct">
        <label class="text" for="">Código de producto:</label>
        <input
          type="text"
          class="form-control"
          placeholder="ingrese el código del producto..."
          formControlName="code"
          (keyup.enter)="loadProduct()"
        />
      </form>
    </div>

  <div class="col-md-6 ng-autocomplete">
    <label class="text" for="">Buscar por nombre del producto:</label>
    <ng-autocomplete
      [data]="productsByName$ | async"
      [searchKeyword]="productName"
      (selected)='selectEvent($event)'
      (inputChanged)='onChangeSearch($event)'
      (inputFocused)='onFocused($event)'
      [itemTemplate]="itemTemplate"
      [notFoundTemplate]="notFoundTemplate"
      placeholder="Ingrese el nombre del producto..."
      >
    </ng-autocomplete>

    <ng-template #itemTemplate let-item>
    <a [innerHTML]="item.name"></a>
    </ng-template>

    <ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
    </ng-template>
    </div>

  <div class="container row">
    <div class="col-md-5">
      <label for="" class="text">Nombre del producto:</label>
      <input
        type="text"
        class="form-control"
        value="{{ productRequest.name }}"
        disabled
      />
    </div>
    <div class="col-md-2">
      <label for="" class="text">Stock:</label>
      <input
        type="number"
        class="form-control"
        value="{{ productRequest.stock }}"
        disabled
      />
    </div>
    <div class="col-md-2">
      <label for="" class="text">Precio:</label>
      <input
        type="number"
        class="form-control"
        value="{{ productRequest.publicPrice }}"
        disabled
      />
    </div>
    <div class="mt-1 mb-3">
      <button
        class="btn btn-outline-primary"
        (click)="loadProduct()"
        [disabled]="formGroupProduct.invalid"
      >
        Buscar
      </button>
    </div>
  </div>

  <div class="container">
    <hr class="solid" />
  </div>

  <div class="table-responsive">
    <h4 class="text text-center">Detalles de compra</h4>
    <table class="table table-hover">
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <td>Código</td>
          <td>Nombre</td>
          <td>Cantidad</td>
          <td>Precio unitario</td>
          <td>Precio total</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let productInTable of productsInTable; index as i">
          <th>{{ i + 1 }}</th>
          <td>{{ productInTable.code }}</td>
          <td>{{ productInTable.name }}</td>
          <td>
            <input
              style="max-width: 150px"
              type="number"
              class="form-control"
              [value]="productInTable.amount"
              [(ngModel)]="productInTable.amount"
              (input)="updateTotalPriceProduct(i)"
              min="1"
            />
          </td>
          <td>{{ productInTable.unitPrice | currency: "$" }}</td>
          <th>{{ productInTable.totalPrice | currency: "$" }}</th>
          <td style="padding: 4px 0">
            <button
              class="btn btn-outline-danger"
              style="padding-top: 4px; padding-bottom: 4px"
              (click)="deleteProductInTable(productInTable.code)"
            >
              <i class="bx bxs-trash" size="lg"></i>
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <th><h5 class="text" style="text-align: right;">Total:</h5></th>
          <th>
            <h5 class="text">{{ totalSalePrice | currency: "$" }}</h5>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
  <div style="display: flex; justify-content: center">
    <button
      [disabled]="!isActiveBtnShopping"
      (click)="playShopping()"
      class="btn btn-success"
    >
      Realizar compra
    </button>
  </div>
</div>
