<div class="container mt-4">
  <div class="container mt-4 mb-4">
    <h2 class="text text-center">Detalles de venta con id: {{idSale}}</h2>
  </div>
  <div class="mt-4">
    <h5 class="mt-3">Cliente: <span class="text">{{clientRequest.name}} {{clientRequest.lastName}}</span></h5>
    <h5 class="mt-3">Fecha de compra: <span class="text">{{this.clientRequestShopping.createDate | date:'medium'}}</span> </h5>
    <h5 class="mt-3">Cantidad de productos comprados: <span class="text">{{amountProducts}}</span> </h5>
    <h5 class="mt-5">Total: <span class="text">{{totalPrice | currency:'$'}}</span></h5>
  </div>
  
  <h3 class="text text-center">Lista de productos</h3>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <td>Código</td>
          <td>Nombre</td>
          <td>Cantidad</td>
          <td>Precio unitario</td>
          <td>Precio total</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let productDetail of clientRequestShopping.productsDetail; index as i">
          <th>{{i+1}}</th>
          <td>{{productDetail.codeProduct}}</td>
          <td>{{productDetail.nameProduct}}</td>
          <td>{{productDetail.amount}}</td>
          <td>{{productDetail.publicPriceProduct | currency:'$'}}</td>
          <th>{{productDetail.totalSale | currency:'$'}}</th>
        </tr>
      </tbody>
      <tfoot>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th><h5 class="text">Total:</h5></th>
        <th><h5 class="text">{{totalPrice|currency:'$'}}</h5></th>
      </tfoot>
    </table>
  </div>
  <div style="display: flex; justify-content: center;">
    <button class="btn btn-primary" (click)="returnClientDetail()">Volver a detalles de cliente</button>
  </div>
</div>
