<div class="container mt-5 mb-5 mb-5">
  <h2 class="text text-center">{{product.name}}</h2>
  <div class="row mt-4">
    <div class="col-sm-6 container">
      <h3 class="text">Detelles de producto</h3>
      <form action="" [formGroup]="formProductDetail">
        <div class="row mt-4">
          <div class="col-sm-12">
            <label class="text">Nombre: </label>
            <input type="text" class="form-control" [disabled]="true" formControlName="name">
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-sm-6">
            <label class="text">Codigo: </label>
            <input type="text" class="form-control" formControlName="code">
          </div>
          <div class="col-sm-6">
            <label class="text">Marca: </label>
            <input type="text" class="form-control" formControlName="brand">
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-sm-6">
            <label class="text">Categoria: </label>
            <select class="form-select" formControlName="category" name="" id="">
              <option value="Papelería">Papelería</option>
            </select>
          </div>
          <div class="col-sm-3">
            <label class="text" for="">Stock:</label>
            <input type="text" class="form-control" formControlName="stock">
          </div>
          <div class="col-sm-3">
            <label class="text" for="">Stock Base:</label>
            <input type="text" class="form-control" formControlName="baseQuantity">
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-sm-6">
            <label class="text">Precio al costo: </label>
            <input type="text" class="form-control" formControlName="privatePrice">
          </div>
          <div class="col-sm-6">
            <label class="text">Precio al publico: </label>
            <input type="text" class="form-control" formControlName="publicPrice">
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-sm-6">
            <label class="text">Fecha y hora de creación: </label>
            <input type="text" class="form-control" disabled="true" value="{{product.createDate | date:'medium'}}">
          </div>
          <div class="col-sm-6">
            <label class="text">Fecha de última modificación: </label>
            <input type="text" class="form-control" disabled="true" value="{{product.updateDate | date:'medium'}}">
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-sm-12">
            <label class="text">Description: </label>
            <textarea class="form-control" formControlName="description" name="" id="" rows="5"></textarea>
          </div>
        </div>
      </form>
      <div style="display: flex; justify-content: left; margin-top: 20px;">
        <button *ngIf="!editable" class="btn btn-outline-warning" style="margin-right: 4px;" (click)="isEditable()">Editar Producto</button>
        <button *ngIf="!editable" (click)="deleteProduct()" class="btn btn-outline-danger" style="margin-left: 4px;">Eliminar Producto</button>
        <button *ngIf="editable" (click)="updateProduct()" [disabled]="formProductDetail.invalid" class="btn btn-outline-success" style="margin-left: 4px;">Guardar cambios</button>
        <button *ngIf="editable" (click)="noEditable()" class="btn btn-outline-secondary" style="margin-left: 4px;">Cancelar</button>
      </div>
    </div>
    <div class="col-sm-6 container mt-4">
      <h3 class="text text-center">Imagen del producto</h3>
      <div class="container" style="display: flex; justify-content: center;">
        <img src="../../../assets/product-icon.jpg" alt="" class="img">
      </div>
      <!-- <div style="display: flex; justify-content: center;">
        <button class="btn btn-outline-success">Cambiar imagen</button>
      </div> -->
    </div>
  </div>

  <div class="container mt-4" style="display: flex; justify-content: center;">
    <button class="btn main-color" routerLink="/products/list-products">Volver a lista de productos</button>
  </div>
</div>
