/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


body {
  // background-color: #cec8ef;
  background-color: whitesmoke;
}


.text{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  // font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ntex{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.required:after {
  content: ' *';
  color: red;
}

.main-color {
  background-color: #615da9;
  color: white;
}
