<div class="container mt-4 mb-4">
  <!-- <h1 class="text text-center title">Easy Manager</h1> -->
  <div class="logo">
    <img id="img_logo" src="../../assets/Logo_png_4000px.png" alt="" style="width: 100%; height:auto;">
  </div>
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="apartado" id="sale" routerLink="/sales/new">
        <h4 class="text title-card">Nueva venta</h4>
        <p class="text">En este apartado podras realizar una nueva venta...</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="apartado" id="sale-consult" routerLink="/sales/salesConsult">
        <h4 class="text title-card">Consultar ventas</h4>
        <p class="text">Consulta las ventas realizadas por rango de fechas...</p>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="apartado" id="product-consult" routerLink="/products/list-products">
        <h4 class="text title-card">Consultar productos</h4>
        <p class="text">Dale un vistazo a tus productos, y ve sus detalles...</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="apartado" id="new-product" routerLink="/products/add-product">
        <h4 class="text title-card">Añadir nuevo producto</h4>
        <p class="text">Amplia tu inventario de productos...</p>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="apartado" id="client-consult" routerLink="/clients/list-clients">
        <h4 class="text title-card">Consultar clientes</h4>
        <p class="text">Consulta tus clientes, ten al alcance sus datos y ve sus compras...</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="apartado" id="add-client" routerLink="/clients/add-client">
        <h4 class="text title-card">Añadir nuevo cliente</h4>
        <p class="text">Añade un nuevo cliente a tu tienda...</p>
      </div>
    </div>
  </div>
</div>
